$desktopwidth: 700px;
$tabletW: 700;



$titlleskrift: 24px;




$primaryFarver:#293f5c;
$sekundereFarver:#F3F0BE;
$skirftFarver:black;




body {
  padding: 0;
  margin: 0;
  font-family: acumin-proMedium, sans-serif;
}


.FullPage {
  margin: 0;
  padding: 0;
}

#skrift1 {
  background-color: $primaryFarver;
  width: 100%;
  justify-content: center;
  display: flex;
  height: 50px;
  align-items: center;

  > h1 {
    margin: 0;
    color: #ffffff;
  }
}


.topbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 10px;
  align-items: center;
  background-color: beige;

  img{
    padding-right: 10px;
  }
}


#section1 {
  padding-left: 20px;

  > a {
    color: $skirftFarver;
    text-decoration: dotted;
    font-weight: bold;
  }

  > ul {
    color: $skirftFarver;

    > ul ,li{
      color: $skirftFarver;
      line-height: 50px;
    }
  }
}

.section2{
  margin-left: 0;
}


#p1{
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: $titlleskrift;

  h3{
    font-size: 20px;
  }

}

#chart_div{
   height: 250px;
  width: 370px;
  display: flex;
  justify-content: center;
}

#piechart{

  display: flex;
  justify-content: center;
}


.p2{
  justify-content: center;
  display: flex;
  background-color: beige;
  margin-top: 40px;

  >p{
    color: $titlleskrift;
font-size: 20px;
  }
}

footer{
  height: 100px;
  width: 100%;
  background-color: $primaryFarver;
  display: flex;
  justify-content: center;
  P{
    justify-content: center;
    padding-top: 20px;
    color: white;

  }
}





  /*burgerMenu*/
.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 49px;
  left: 0;
  background-color: $primaryFarver;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;

  > a {
    padding: 8px 8px 40px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;

  }
}


.sidepanel a:hover {
  color: $wcolor;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 40px;
  cursor: pointer;
  color: $primaryFarver;
  border: none;
  background: border-box;
}

.openbtn:hover {
  background-color: $tabletW;
}


@media screen and (min-width: $desktopwidth){
  .sidepanel{
    background-color: #293f5c;
    top: 0;
    height: 100%;
    width: 200px;
  }
  .sidepanel .closebtn{
    display: none;

  }
  #skrift1{
     display: flex;
    justify-content: center;
    margin-left: 100px;
  }
  .section2{
    margin-left: 200px;
  }
  #piechart{
     margin: 1rem auto;
  }
  #chart_div{
    padding-bottom: 100px;
    margin: 1rem auto;
  }
  #section1{
    display: none;
  }
  .p2 {
    background-color: beige;
     width: 300px;
    margin: 2rem auto;
  }
  footer{
    background-color: unset;

  }

}
